flows.json
[{"id":"4ec5ffc3.45d09","type":"tab","label":"Server Management","disabled":false,"info":""},{"id":"d54a382a.082078","type":"tab","label":"HealthCheck","disabled":false,"info":""},{"id":"8b257bd3.12fdf8","type":"tab","label":"Tacview File Tracking","disabled":false,"info":""},{"id":"ce924935.a36b38","type":"tab","label":"Report Version","disabled":false,"info":""},{"id":"45b9f248.cf344c","type":"mqtt-broker","z":"","name":"MQTT Listen","broker":"lab.fertle.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"df6161d4.f53a4","type":"mqtt-broker","z":"","name":"MQTT Listen","broker":"lab.fertle.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2168edcc.2d6762","type":"mqtt in","z":"4ec5ffc3.45d09","name":"","topic":"server/#","qos":"2","datatype":"auto","broker":"45b9f248.cf344c","x":60,"y":60,"wires":[["881d0b37.3147b8"]]},{"id":"bf18d7b7.d4dbc8","type":"switch","z":"4ec5ffc3.45d09","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"start","vt":"str"},{"t":"eq","v":"stop","vt":"str"},{"t":"eq","v":"status","vt":"str"},{"t":"eq","v":"restart","vt":"str"},{"t":"eq","v":"update","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":530,"y":180,"wires":[["de607ad3.17c308"],["c9c1843f.7b23f8"],["803e72d.df2099"],["be77d5c6.cfa0a8"],[]]},{"id":"803e72d.df2099","type":"exec","z":"4ec5ffc3.45d09","command":"powershell.exe -ExecutionPolicy Bypass -File \"C:\\Users\\aef\\Saved Games\\DCS Server Automation\\ProcessChecker.ps1\"","addpay":false,"append":"","useSpawn":"false","timer":"20","oldrc":false,"name":"Check DCS","x":690,"y":260,"wires":[[],[],["61ddbc15.42c604"]]},{"id":"de607ad3.17c308","type":"exec","z":"4ec5ffc3.45d09","command":"C:\\Windows\\System32\\WindowsPowerShell\\v1.0\\powershell.exe -ExecutionPolicy Bypass -File \"C:\\Users\\aef\\Saved Games\\DCS Server Automation\\Start_Server_Instance.ps1\"","addpay":false,"append":"","useSpawn":"false","timer":"20","oldrc":false,"name":"Start DCS","x":680,"y":100,"wires":[[],[],["3ced4b06.a7bd34"]]},{"id":"c9c1843f.7b23f8","type":"exec","z":"4ec5ffc3.45d09","command":"\"C:\\Users\\aef\\Saved Games\\DCS Server Automation\\Stop DCS Server.lnk\"","addpay":false,"append":"","useSpawn":"false","timer":"20","oldrc":false,"name":"Stop DCS","x":680,"y":180,"wires":[[],[],["dfc2fd44.bd02a"]]},{"id":"b44d2548.255368","type":"mqtt out","z":"4ec5ffc3.45d09","name":"MQTT Publish","topic":"server/2","qos":"2","retain":"","broker":"45b9f248.cf344c","x":1380,"y":200,"wires":[]},{"id":"dfc2fd44.bd02a","type":"function","z":"4ec5ffc3.45d09","name":"catch","func":"if (msg.payload.code === 0){\n\nmsg = {payload: \"stop_success\"}   \n    \n}\n else {\n     \nmsg = {payload: \"stop_error\"} \n    \n}\n\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":180,"wires":[["b44d2548.255368"]]},{"id":"61ddbc15.42c604","type":"function","z":"4ec5ffc3.45d09","name":"catch","func":"if (msg.payload.code === 0){\n\nmsg = {payload: \"status_success\"}   \n    \n}\n\nif (msg.payload.code === 2){\n    \nmsg = {payload: \"status_warning\"}\n\n}\n if (msg.payload.code === 1){\n     \nmsg = {payload: \"status_error\"} \n \n \n}\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":260,"wires":[["b44d2548.255368"]]},{"id":"3ced4b06.a7bd34","type":"function","z":"4ec5ffc3.45d09","name":"catch","func":"if (msg.payload.code === 0){\n\nmsg = {payload: \"start_success\"}   \n    \n}\n else {\n     \nmsg = {payload: \"start_error\"} \n    \n}\n\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":100,"wires":[["b44d2548.255368"]]},{"id":"be77d5c6.cfa0a8","type":"exec","z":"4ec5ffc3.45d09","command":"\"C:\\Users\\aef\\Saved Games\\DCS Server Automation\\Stop DCS Server.lnk\"","addpay":false,"append":"","useSpawn":"false","timer":"20","oldrc":false,"name":"Stop DCS","x":680,"y":340,"wires":[[],[],["1489202e.05385"]]},{"id":"bc72147e.152598","type":"exec","z":"4ec5ffc3.45d09","command":"C:\\Windows\\System32\\WindowsPowerShell\\v1.0\\powershell.exe -ExecutionPolicy Bypass -File \"C:\\Users\\aef\\Saved Games\\DCS Server Automation\\Start_Server_Instance.ps1\"","addpay":false,"append":"","useSpawn":"false","timer":"20","oldrc":false,"name":"Start DCS","x":1080,"y":340,"wires":[[],[],["6bf655d.814b7ac"]]},{"id":"1489202e.05385","type":"function","z":"4ec5ffc3.45d09","name":"catch","func":"if (msg.payload.code === 0){\n\nmsg = {payload: \"stop_success\"}   \nreturn [msg, null];    \n}\n else {\n     \nmsg = {payload: \"stop_error\"} \nreturn [null, msg];    \n}\n\n","outputs":2,"noerr":0,"x":890,"y":340,"wires":[["bc72147e.152598","b44d2548.255368"],["b44d2548.255368"]]},{"id":"6bf655d.814b7ac","type":"function","z":"4ec5ffc3.45d09","name":"catch","func":"if (msg.payload.code === 0){\n\nmsg = {payload: \"restart_success\"}   \n    \n}\n else {\n     \nmsg = {payload: \"restart_error\"} \n    \n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":340,"wires":[["b44d2548.255368"]]},{"id":"d4ca3258.dec28","type":"inject","z":"d54a382a.082078","name":"HealthCheck","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":140,"wires":[["1030e61.16ee91a"]]},{"id":"1030e61.16ee91a","type":"exec","z":"d54a382a.082078","command":"powershell.exe -ExecutionPolicy Bypass -File \"C:\\Users\\aef\\Saved Games\\DCS Server Automation\\ProcessChecker.ps1\"","addpay":false,"append":"","useSpawn":"false","timer":"20","oldrc":false,"name":"Check DCS","x":350,"y":140,"wires":[[],[],["9385be8d.064ae"]]},{"id":"9385be8d.064ae","type":"function","z":"d54a382a.082078","name":"catch","func":"if (msg.payload.code === 1){\n\nmsg = {payload: \"health_error\"}   \n    \n}\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":153,"wires":[["9cf3fc1d.4d172"]]},{"id":"9cf3fc1d.4d172","type":"mqtt out","z":"d54a382a.082078","name":"MQTT Publish","topic":"server/2","qos":"2","retain":"","broker":"df6161d4.f53a4","x":680,"y":153,"wires":[]},{"id":"26ad9454.90f51c","type":"inject","z":"d54a382a.082078","name":"HealthCheck","topic":"server/2","payload":"Node Red is Running","payloadType":"str","repeat":"300","crontab":"","once":true,"onceDelay":"5","x":180,"y":320,"wires":[["9cf3fc1d.4d172","120d8951.956ae7"]]},{"id":"120d8951.956ae7","type":"debug","z":"d54a382a.082078","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":740,"y":420,"wires":[]},{"id":"38396edd.d71262","type":"fs-ops-size","z":"8b257bd3.12fdf8","name":"Tacview File","path":"C:\\Users\\aef\\Documents\\Tacview","pathType":"str","filename":"files","filenameType":"msg","size":"filesize","sizeType":"msg","x":290,"y":160,"wires":[["7293bc08.9b3664"]]},{"id":"d9847045.96e42","type":"fs-ops-dir","z":"8b257bd3.12fdf8","name":"Tacview Folder","path":"C:\\Users\\aef\\Documents\\Tacview","pathType":"str","filter":"*","filterType":"str","dir":"files","dirType":"msg","x":220,"y":100,"wires":[["38396edd.d71262"]]},{"id":"d5d14e03.e7bb","type":"inject","z":"8b257bd3.12fdf8","name":"","topic":"","payload":"","payloadType":"date","repeat":"43200","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":60,"wires":[["d9847045.96e42"]]},{"id":"f63d8f3d.99d4","type":"debug","z":"8b257bd3.12fdf8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":610,"y":160,"wires":[]},{"id":"7293bc08.9b3664","type":"function","z":"8b257bd3.12fdf8","name":"Bytes to MB","func":"var total = 0\n\nfor (i = 0; i < msg.filesize.length; i++) {  //loop through the array\n    total += msg.filesize[i];  //Do the math!\n}\n\nvar mb = total/1024/1024\n\nvar rounded = Math.round( mb * 10 ) / 10;\n\n\nmsg = {\n        payload: +rounded\n}\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":370,"y":200,"wires":[["5b03afaa.a60eb","f63d8f3d.99d4","506b6b0d.605534"]]},{"id":"5b03afaa.a60eb","type":"mqtt out","z":"8b257bd3.12fdf8","name":"MQTT Publish","topic":"server/2/tacview","qos":"2","retain":"","broker":"df6161d4.f53a4","x":640,"y":240,"wires":[]},{"id":"506b6b0d.605534","type":"switch","z":"8b257bd3.12fdf8","name":">300 MB?","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"500","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":630,"y":200,"wires":[[],[]]},{"id":"b81d0317.a7da2","type":"inject","z":"ce924935.a36b38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":140,"wires":[["4aeb87c3.a381a8","921561de.45c1f","43aa472b.5f5fb8"]]},{"id":"46bb0592.87f28c","type":"mqtt out","z":"ce924935.a36b38","name":"MQTT Publish","topic":"server/2/versions","qos":"2","retain":"","broker":"df6161d4.f53a4","x":720,"y":300,"wires":[]},{"id":"4aeb87c3.a381a8","type":"exec","z":"ce924935.a36b38","command":"powershell.exe (Get-Command 'C:\\Program Files\\Eagle Dynamics\\DCS World OpenBeta Server\\bin\\dcs.exe').FileVersionInfo.FileVersion","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Get DCS Version","x":170,"y":260,"wires":[["56097102.37831"],[],[]]},{"id":"7383c95c.bb7db8","type":"debug","z":"ce924935.a36b38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":690,"y":200,"wires":[]},{"id":"56097102.37831","type":"function","z":"ce924935.a36b38","name":"","func":"var data = msg.payload\n\nmsg = \n\n{payload:\n\n    { \"dcs\": data}\n\n}\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":260,"wires":[["7383c95c.bb7db8","46bb0592.87f28c"]]},{"id":"921561de.45c1f","type":"exec","z":"ce924935.a36b38","command":"powershell.exe (Get-Command 'C:\\Program Files\\Eagle Dynamics\\DCS-SimpleRadio-Standalone\\sr-server.exe').FileVersionInfo.FileVersion","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Get SRS Version","x":170,"y":320,"wires":[["c5f1177e.3b0e18"],[],[]]},{"id":"43aa472b.5f5fb8","type":"exec","z":"ce924935.a36b38","command":"powershell.exe (Get-Command 'C:\\Program Files\\Eagle Dynamics\\Tacview\\tacview.exe').FileVersionInfo.FileVersion","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Get Tacview Version","x":180,"y":380,"wires":[["bb7817dc.aa8db8"],[],[]]},{"id":"bb7817dc.aa8db8","type":"function","z":"ce924935.a36b38","name":"","func":"var data = msg.payload\n\nmsg = \n\n{payload:\n\n    { \"tacview\": data}\n\n}\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":380,"wires":[["7383c95c.bb7db8","46bb0592.87f28c"]]},{"id":"c5f1177e.3b0e18","type":"function","z":"ce924935.a36b38","name":"","func":"var data = msg.payload\n\nmsg = \n\n{payload:\n\n    { \"srs\": data}\n\n}\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":320,"wires":[["7383c95c.bb7db8","46bb0592.87f28c"]]},{"id":"881d0b37.3147b8","type":"change","z":"4ec5ffc3.45d09","name":"Get Hostname","rules":[{"t":"set","p":"hostname","pt":"msg","to":"COMPUTERNAME","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":180,"y":180,"wires":[["ab0b47a7.9da3b8"]]},{"id":"ab0b47a7.9da3b8","type":"function","z":"4ec5ffc3.45d09","name":"Check","func":"var hostname = msg.hostname;\n\nvar serverNum = hostname.charAt(hostname.length-1);\n\nvar topic = msg.topic\n\nvar topicNum = topic.charAt(topic.length-1);\n\nif (serverNum === topicNum){\n    \n   return msg;\n}\n","outputs":2,"noerr":0,"x":370,"y":180,"wires":[["bf18d7b7.d4dbc8"],[]]}]